
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('Image/bonberge.png');
    background-size: cover;                
    background-position: center;           
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    color: #ccbaba;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ddd2d2;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #444;
}


.container input[type="text"],
.container input[type="email"],
.container textarea,
.container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}


.container input[type="radio"],
.container input[type="checkbox"] {
    margin-right: 8px;
}

.container p {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}


.container button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #3d8b40;
}
